# Maven build output
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA project files
.idea/
*.iws
*.iml
*.ipr

# VS Code settings
.vscode/

# Environment files
.env

# Maven wrapper properties
.mvn/wrapper/maven-wrapper.properties

# Docker files
Dockerfile
Docker-compose.yaml
docker-compose.yaml
HELP.md

# Ignore all target folders except in wrapper
!**/src/main/**/target/
!**/src/test/**/target/
